html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#banner {
    background-image: url("./images/cupcake-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 40rem;
    display: flex;
}

.content {
    margin: auto;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.title {
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.jumbotron h2 {
    font-size: 50px;
    margin-bottom: 70px;
}

.jumbotron p {
    font-size: 2rem;
}

.jumbotron p span {
    color: palevioletred;
    font-weight: bold;
    font-size: 2rem;
}

.products,
.team-header,
.location {
    text-align: center;
    margin-top: 20px;
}

.products h2,
.team-header h2,
.location h2 {
    color: palevioletred;
    font-size: 3rem;
    margin: 10px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos div {
    padding: 0 1em;
}

.photos div p {
    text-align: center;
    margin: 0.7em;
    font-weight: 600;
    font-size: 1.5rem;
}

.photos img {
    max-width: 30em;
}

.team {
    background-image: url("./images/team-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team img {
    max-width: 20em;
    align-items: center;
    margin: 5px;
}

.teammate {
    text-align: center;
    padding-top: 1.5em;
}

.teammate h3 {
    margin: 0.5em;
}

.footer {
    padding: 20px 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer h3 {
    font-size: 30px;
    margin-left: 20px;
    color: palevioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer p {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 40px;
}

.footer img {
    max-width: 20em;
    align-items: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}